:root {
    color-scheme: light dark;
}

body {
    color: light-dark(#202222, #f1f1ee);
    background-color: light-dark(#efedea, #223a2c);
}

#chart {
    aspect-ratio: 1 / 1;
    max-height: 90vh;
    max-width: 95vw;
}

#info {
    /* avoid jumps on narrow devices when hovering on long names */
    min-height: 3em;
}


main , footer{
    /* padding: 0 1rem; */
    margin: 0 auto;
    max-width: 1024px;
}

footer {
    text-align: center;
}


abbr {
    font-style: italic;

}


